body{
  background: #515257;
  padding: 3vh;
}
.sidebar-arrow::after
{
content: "";
position: absolute;
border-style: solid;
border-width: 10px 0px 10px 10px;
border-color: transparent white;
display: block;
width: 0;
z-index: 1;
transition: top ease-in-out .2s;
}
.container{
  display: flex;
}
.sidebar{
  width: 13vw;
  display: flex;
  margin-right: 20px;
}
.sidebar-content{
  box-shadow: -1px 1px 3px rgba(0,0,0,.3);
  background: white;
  border-radius: 5px;
  padding: 30px 15px;
  width: 100%;
}
.sidebar-content, .navigation, .navigation-icon{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.title{
  text-align: center;
}
.navigation-icon i{
  display: flex;
  justify-content: center;
  font-size: 45px;
}
.navigation{
  padding: 15px 0;
  transition: color ease-in-out .2s;
  cursor: pointer;
}

.navigation:hover{
  color: #0099a7;
}
.active{
  color: #0099a7;
}
.page-content{
  box-shadow: -1px 1px 3px rgba(0,0,0,.3);
  background: white;
  border-radius: 5px;
  flex: 1 0 auto;
  /*height: fit-content;*/
  max-width: -webkit-fill-available;
}
.card-title{
  font-weight: bold;
  height: 40px;
  padding: 5px 20px;
  display: flex;
  align-items: center;
  color: rgba(0,0,0,.8);
  margin: 0;
}
.divider{
    border: .5px solid rgba(0,0,0,.1);
    margin: 0;
}
.stat{
    border: 1px solid rgba(0,0,0,.1);
    margin: 0;
    transition: width ease-in-out .2s;
}
.left{
  border-color: #0099a7;
}
.stat_content{
  padding: 20px;
  display: none;
}
.form-control{
  margin: 5px 0;
  width: 100%!important;
  background: rgba(0,0,0,.03);
  box-shadow: inset 0px 0px 1px 0px rgba(0,0,0,.1);
  height: 35px!important;
  border-color: rgba(0,0,0,.1);
  font-size: 14px;
}
.stat-header{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.button{
  background: #f7921e;
  font-weight: bold;
}
.holder-top{
  background: #515257;
  color: white;
  padding: 20px 0;
  z-index: 0;
  border-radius: 5px 5px 0 0;
}
.holder-top span{
  padding: 10px 30px;
}
.num{
  border-left: #0099a7 solid 5px;
  font-size: 50px;
  color: white;
  font-weight: bold;
}
.my-card{
  margin: 10px 0;
  box-shadow: -1px 1px 3px rgba(0,0,0,.3);
  background: white;
  border-radius: 5px;
  margin: 10px;
  flex: 1 0 auto;
  height: fit-content;
  width: 18vw;
  top: 6vh;
  position: absolute;
}
.holder-bottom{
  display: flex;
  flex-direction: column;
  padding: 10px;
  color: #515257;
  background: #f2f2f2;
}
.holder-bottom span{
  padding: 5px;
}
.holder-bottom .fa{
  margin: 0px 5px;
}
.done i{
  color: #0099a7;
}
.tags{
  display: flex;
  flex-wrap: wrap;
}
.tags span{
  color: white;
  padding: 3px 6px;
  background: #515257;
  border-radius: 3px;
  margin: 2px 6px;
  font-size: 13px;
}
.form-holder{
  display: flex;
}
.form-col{
  display: flex;
  flex: 1 1;
  flex-direction: column;
  padding-right: 10px;
}
.form-holder form{
  width: 32vw;
  font-size: 14px;
}
.my-file{
  max-width: 16vw;
}
label{
  margin: 5px;
}
.radio{
  display: flex;
  align-items: center;
}
.form-check{
  margin-left: 15px;
}
