body{
  font-size: 16px;
}
.container-fluid{
  min-height: 100vh;
  max-width: 100vw!important;
  padding: 20px 3%;
  display: flex;
  background: rgba(0,0,0,.1);
}
.my-col-1{
  flex: 1 0 auto;
  max-width: calc(25% - 20px);
}
.my-col-3{
  flex: 2 0 auto;
  max-width: calc(50% - 20px);
}
.my-card{
  margin: 10px 0;
  box-shadow: -1px 1px 3px rgba(0,0,0,.3);
  background: white;
  border-radius: 5px;
  margin: 10px;
  flex: 1 0 auto;
  height: fit-content;
  max-width: -webkit-fill-available;
}
.card-title{
  font-weight: bold;
  height: 40px;
  padding: 5px 20px;
  display: flex;
  align-items: center;
  color: rgba(0,0,0,.8);
  margin: 0;
}
.form-holder{
  padding: 6%;
}
.form input{
  margin: 5px 0;
  border-radius: 3px;
}
.form-control{
  background: rgba(0,0,0,.03);
  box-shadow: inset 0px 0px 1px 0px rgba(0,0,0,.1);
  height: 35px;
  border-color: rgba(0,0,0,.1);
  font-size: 15px;
}
.form-control::placeholder{
  color: rgba(0,0,0,.43);
}
.button{
  background: #f7921e;
  color: white;
  font-weight: bold
}
.form-group{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.divider{
    border: .5px solid rgba(0,0,0,.1);
    margin: 0;
}
.form-title{
  color: rgba(0,0,0,.5);
  font-size: 14px;
}
.messages-header{
  display: flex;
  padding: 10px 20px;
}
.messages-title{
  color: rgba(0,0,0,.4);
  font-size: 17px;
  font-weight: 600;
  width: 33.33%;
}
.message-data{
  display: flex;
  cursor: pointer;
}
.messages-subject{
  color: rgba(0,0,0,.5);
}
.card{
  border: 0;
}
.card-header{
  border: 0;
  background: white;
  border-radius: 0;
}
.messages-sender{
  color: #0099a7;
}
.prev-messages{
  background: rgba(0,0,0,.1);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
}
.card-row{
  display: flex;
  width: 100%;
}
.following{
  padding: 6%;
}
.follow{
  display: flex;
  justify-content: space-between;
  padding: 5px 20px;
}
.follow-place{
  color: rgba(0,0,0,.5);
}
.job{
  padding: 6%;
}
.job-header{
  display: flex;
  justify-content: space-between;
}
.job-title{
  max-width: 70%;
  font-weight: bold;
}
.job-footer{
  color: rgba(0,0,0,.4);
  display: flex;
  flex-wrap: wrap;
}
.job-footer span{
  margin-right: 3%;
}
.job-tags{
  display: flex;
  color: rgba(0,0,0,.4);
}
.job-section{
  border-left: 4px solid black;
  box-sizing: border-box;
}
.job-section .state{
  padding: 5px 6%;
  font-weight: bold;
}
.accepted{
  border-color: #87c83b;
}
.pending{
  border-color: #f7921e;
}
.denied{
  border-color: red;
}
.accepted .state{
  color: #87c83b;
}
.pending .state{
  color: #f7921e;
}
.denied .state{
  color: red;
}
.follow-flag, .job-flag{
  color: #0099a7;
}
.job-x:hover{
  color: rgba(0,0,0,.7);
  cursor: pointer
}
