/* main things */

p {
    margin: 0 !important;
}

main {
    background-color: #f2f2f2;
}

hr {
    border: 1px solid rgba(34, 34, 34, 0.2);
    width: 80%;
}

.hero {
    letter-spacing: 1px;
    font-size: 35px;
    font-weight: 800;
}
    
.little-hero {
    margin-left:0;
    padding-left: 0;
    letter-spacing: 1px;
    font-size: 25px;
    font-weight: 700;
    opacity: 0.7;
}

/* main shits end */

/* main section */

.main-image-section {
    background-image: url('../designs/Images/unnamed.jpg');
    background-size: cover;
    background-position-x: center;
    background-repeat: no-repeat;
    height: 400px;
}
    
.promotion-text-holder {
    height: 100%;
    color: #fff;
}
    
.promotion-text span {
    margin: 15px 0;
}

/* main section end */

/* -----------------------------------------------------------------*/
/* -----------------------------------------------------------------*/
/* -----------------------------------------------------------------*/

/* main-page-section */

.main-info-holder {
    padding: 20px 0!important;
}

.main-info-holder div {
    height: 100%;    
}

.main-info-holder .little-hero {
    padding-top: 10px;
}

.info-holder {
    height: 170px!important;
    background-color: #fff;
}

.marker-long {
    height: calc(100% + 40px);
}

.marker-long-container span {
    font-weight: 700;
    opacity: 0.7;
    margin-left: 30px;
}

@media (max-width: 600px) {
    .info-holder {
        font-size: 13px;
    }
}

/* main-page-section end */

/* -----------------------------------------------------------------*/
/* -----------------------------------------------------------------*/
/* -----------------------------------------------------------------*/
  
/* registration-button */

.registration-button-section {
    padding: 50px 0;
}
    
.registration-button-section button, .registrationbutton {
    padding: 15px 50px;
    font-size: 25px;
}

.registrationbutton {
    margin-top: 30px;
}

.registration-form input, .registration-form select  {
    margin: 15px 0;
    background-color: #f2f2f2; 
}

/* + regisrtation section */

.registration-section {
    margin-top: 50px;
    height: auto;
}

/* registration-button end */

/* -----------------------------------------------------------------*/
/* -----------------------------------------------------------------*/
/* -----------------------------------------------------------------*/
  
/* cards-section */

.cards-section {
    margin-top: 100px;
    height: auto;
}

.card {
    margin-bottom: 30px !important;
}

.card-img {
    width: 100%;
    object-fit: cover;
}

.card-body p {
    margin: 15px 0!important;
}

/* cards-section end */


.vonalkaize {
    position: absolute;
    height: 200px;
    background-color: #f2f2f2!important;

}

    
