body{
  background: #515257;
  padding: 3vh;
}
.sidebar-arrow::after
{
content: "";
position: absolute;
border-style: solid;
border-width: 10px 0px 10px 10px;
border-color: transparent white;
display: block;
width: 0;
z-index: 1;
transition: top ease-in-out .2s;
}
.container{
  display: flex;
}
.sidebar{
  width: 13vw;
  display: flex;
  margin-right: 20px;
}
.sidebar-content{
  box-shadow: -1px 1px 3px rgba(0,0,0,.3);
  background: white;
  border-radius: 5px;
  padding: 30px 15px;
  width: 100%;
}
.sidebar-content, .navigation, .navigation-icon{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.title{
  text-align: center;
}
.navigation-icon i{
  display: flex;
  justify-content: center;
  font-size: 45px;
}
.navigation{
  padding: 15px 0;
  transition: color ease-in-out .2s;
  cursor: pointer;
}

.navigation:hover{
  color: #0099a7;
}
.active{
  color: #0099a7;
}
.content{
  width: 69vw;
  display: flex;
  flex-direction: column;
  height: fit-content;
  flex: 1 1 auto;
}
.page-content{
  box-shadow: -1px 1px 3px rgba(0,0,0,.3);
  background: white;
  border-radius: 5px;
  flex: 1 0 auto;
  border-left: 4px solid black;
  max-width: -webkit-fill-available;
}
.active-jobs{
  border-color: #87c83b;
}
.sketch-jobs{
  border-color: #f7921e;
}
.expired-jobs{
  border-color: red;
}
.card-title{
  font-weight: bold;
  height: 40px;
  padding: 5px 20px;
  display: flex;
  align-items: center;
  color: rgba(0,0,0,.8);
  margin: 0;
}
.divider{
    border: .5px solid rgba(0,0,0,.1);
    margin: 0;
}
.stat{
    border: 1px solid rgba(0,0,0,.1);
    margin: 0;
    transition: width ease-in-out .2s;
}
.left{
  border-color: #0099a7;
}
.stat_content{
  padding: 20px;
  display: none;
}
.form-control{
  margin: 5px 0;
  width: 100%!important;
  background: rgba(0,0,0,.03);
  box-shadow: inset 0px 0px 1px 0px rgba(0,0,0,.1);
  height: 35px!important;
  border-color: rgba(0,0,0,.1);
  font-size: 14px;
}
.stat-header{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.button{
  background: #f7921e;
  font-weight: bold;
}
.holder-top{
  background: #515257;
  color: white;
  padding: 20px 0;
  z-index: 0;
  border-radius: 5px 5px 0 0;
}
.holder-top span{
  padding: 10px 30px;
}
.num{
  border-left: #0099a7 solid 5px;
  font-size: 50px;
  color: white;
  font-weight: bold;
}
.my-card{
  margin: 0 10px 10px 0;
  box-shadow: -1px 1px 3px rgba(0,0,0,.3);
  background: white;
  border-radius: 5px;
  flex: 1 0 auto;
  height: fit-content;
}
.card-header, .card {
    border: 0;
    background: white;
    border-radius: 0;
}
.button{
  padding: 10px;
  width: fit-content;
}
.button a{

  font-size: 15px;
  color: red!important;
  text-decoration: none!important;
}
.card-header{

  cursor: pointer;
}
.job{
  display: flex;
  height: 20px;
  margin-bottom: 5px;
}
.job-title{
  width: 44%;
  padding-left: 5%;
}
.job-loc, .job-time, .job-appl{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 17%;
}
.job-rem{
  width: 6%;
}
.card-block{
  padding: 10px 10px;
  font-size: 15px;
}
.alert{
  background: red;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 50%;
  padding: 0;
  width: 21px;
  height: 21px;
  margin: 0 10px;
  font-size: 14px;
}
.message-data{
  display: flex;
  align-items: center;
}
