body{
    font-size: 16px;
}
.container-fluid{
  min-height: 100vh;
  max-width: 100vw!important;
  padding: 20px 3%;
  display: flex;
  background: rgba(0,0,0,.1);
}
.sidebar{
  flex: 1 0 auto;
  max-width: calc(30% - 20px);
  flex: 1 0 auto;
}
.card-title{
  font-weight: bold;
  height: 40px;
  padding: 5px 20px;
  display: flex;
  align-items: center;
  color: rgba(0,0,0,.8);
  margin: 0;
}
.my-card{
  margin: 10px 0;
  box-shadow: -1px 1px 3px rgba(0,0,0,.3);
  background: white;
  border-radius: 5px;
  margin: 10px;
  flex: 1 0 auto;
  height: fit-content;
  max-width: -webkit-fill-available;
}
.sidebar-holder{
  padding: 6%;
}
.sidebar-holder a {
  margin: 15px 0px;
  display: flex;
  justify-content: center;
  color: #4599a7;
}
.sidebar-holder a:hover {
  text-decoration: none;
  color: #222222;
}
.divider{
    border: .5px solid rgba(0,0,0,.1);
    margin: 0;
}
.card{
  border: 0;
}
.card-header{
  border: 0;
  background: white;
  border-radius: 0;
}
.accepted{
  border-color: #87c83b;
}
.pending{
  border-color: #f7921e;
}
.denied{
  border-color: red;
}
.accepted .state{
  color: #87c83b;
}
.pending .state{
  color: #f7921e;
}
.denied .state{
  color: red;
}
ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.applicants-jobs i {
  margin-right: 15px;
}
.applicants-list-item {
  font-size: 14px;
  padding: 5px 0;
  border-bottom: 0.5px solid rgba(0, 0, 0, .1)
}
.applicants-list-item span, .applicants-list-item i {
  margin: 0 10px;
}
.userinfo {
  background-color: #4599a7;
  color: white!important;
}
.mainuserinfo {
  margin-bottom: 20px;
}
.mainuserinfo img {
  width: 90px;
  height: 90px;
  margin-right: 10px;
  border-radius: 50%;
  object-fit: cover;
  border: 5px solid white;
}
.infoholder {
  margin-top: 20px;
}
.infoholder li {
  padding: 5px 0;
}
.buttoncard {
  padding: 15px 5px;
}
.intro {
  margin-top: 15px;
  margin-left: 15px;
  max-width: 95%;
  overflow-y: auto;
  max-height: 300px;
}
.education {
  margin: 0 22px;
}
.education li {
  border-top: 0.5px solid rgba(0, 0, 0, .1);
  border-bottom: 0.5px solid rgba(0, 0, 0, .1);
  padding: 15px 0;
}
.label-holder  {
  display:flex;
  flex-wrap: wrap;
  margin: 0 0 0 10px;
  padding: 20px 0;
}

.label {
  padding: 10px;
  background-color: #4599a7;
  color: white!important;
  margin: 5px 8px;
  border-radius: 5px;
}

.label-drk {
  background-color: #222222;
}
.works-header span {
  margin-left: 15px;
}

main {
  margin-bottom: 10vh;
}