body{
    background: #515257;
    padding: 3vh;
  }
  .sidebar-arrow::after
  {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 10px 0px 10px 10px;
  border-color: transparent white;
  display: block;
  width: 0;
  z-index: 1;
  transition: top ease-in-out .2s;
  }
  .container{
    display: flex;
  }
  .sidebar{
    width: 13vw;
    display: flex;
    margin-right: 20px;
  }
  .sidebar-content{
    box-shadow: -1px 1px 3px rgba(0,0,0,.3);
    background: white;
    border-radius: 5px;
    padding: 30px 15px;
    width: 100%;
  }
  .sidebar-content, .navigation, .navigation-icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .title{
    text-align: center;
  }
  .navigation-icon i{
    display: flex;
    justify-content: center;
    font-size: 45px;
  }
  .navigation{
    padding: 15px 0;
    transition: color ease-in-out .2s;
    cursor: pointer;
  }
  
  .navigation:hover{
    color: #0099a7;
  }
  .active{
    color: #0099a7;
  }