body{
  background: #515257;
  padding: 3vh;
}
.sidebar-arrow::after
{
content: "";
position: absolute;
border-style: solid;
border-width: 10px 0px 10px 10px;
border-color: transparent white;
display: block;
width: 0;
z-index: 1;
transition: top ease-in-out .2s;
}
.container{
  display: flex;
}
.sidebar{
  width: 13vw;
  display: flex;
  height: fit-content;
  margin-right: 20px;
}
.sidebar-content{
  box-shadow: -1px 1px 3px rgba(0,0,0,.3);
  background: white;
  border-radius: 5px;
  padding: 30px 15px;
  width: 100%;
}
.sidebar-content, .navigation, .navigation-icon{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.title{
  text-align: center;
}
.navigation-icon i{
  display: flex;
  justify-content: center;
  font-size: 45px;
}
.navigation{
  padding: 15px 0;
  transition: color ease-in-out .2s;
  cursor: pointer;
}

.navigation:hover{
  color: #0099a7;
}
.active{
  color: #0099a7;
}
.content{
  width: 69vw;
  display: flex;
  flex-direction: column;
  height: fit-content;
  flex: 1 1 auto;
}
.active-jobs{
  border-color: #87c83b;
}
.sketch-jobs{
  border-color: #f7921e;
}
.expired-jobs{
  border-color: red;
}
.card-title{
  font-weight: bold;
  height: 40px;
  padding: 5px 20px;
  display: flex;
  align-items: center;
  color: rgba(0,0,0,.8);
  margin: 0;
}
.divider{
    border: .5px solid rgba(0,0,0,.1);
    margin: 0;
}
.stat{
    border: 1px solid rgba(0,0,0,.1);
    margin: 0;
    transition: width ease-in-out .2s;
}
.left{
  border-color: #0099a7;
}
.stat_content{
  padding: 20px;
  display: none;
}
.form-control{
  margin: 5px 0;
  width: 100%!important;
  background: rgba(0,0,0,.03);
  box-shadow: inset 0px 0px 1px 0px rgba(0,0,0,.1);
  height: 35px!important;
  border-color: rgba(0,0,0,.1);
  font-size: 14px;
}
.my-card{
  margin: 0 10px 10px 0;
  box-shadow: -1px 1px 3px rgba(0,0,0,.3);
  background: white;
  border-radius: 5px;
  flex: 1 0 auto;
  height: fit-content;
}
.card-header, .card {
    border: 0;
    background: white;
    border-radius: 0;
}

.card-header{
  cursor: pointer;
}
.page-content{
  background-color: #f2f2f2;
}
.btn{
  color: white;
  font-weight: bold;
}
.bottom{
  padding: 15px;
  width: 220px;
  display: flex;
  flex-direction: column;
}
.image-top{
  height: 130px;
  display: flex;
  background-position: center!important;
  background-size: cover!important;
  justify-content: flex-end;
}
.cards{
  display: flex;
  width: min-content;
  justify-content: center;
  align-items: center;
}
.image-label{
  margin-top: 20px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 5px;
  border-radius: 6px 0 0 6px;
  color: white;
}
.green{
  background: #87c83b;
}
.red{
  background: red;
}
.orange{
  background: #f7921e;
}
.title{
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 17px!important;
}
.bottom > span{
  font-size: 12px;
  margin-bottom: 8px;
}
.comment{
  color:  #c1c1c1;
}
.my-card > .title{
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.outline{
  background: white;
  border: 1px solid black;
  color: black;
}
.green-l{
  color: #87c83b;
  border-color: #87c83b;
  margin: 0 3px;
}
.red-l{
  color: red;
  border-color: red;
  margin: 0 3px;
}
.blue-l{
  color: #0099a7;
  border-color: #0099a7;
  margin: 0 3px;
}
.orange-l{
  color:  #f7921e;
  border-color:  #f7921e;
  margin: 0 3px;
}
